<!DOCTYPE html>

<!-- choose which the configuration you want for the humanoides' exercice
 -->
<div  ng-controller="HumanoideCtrl" layout-margin>
<md-grid-list
        md-cols ="2" md-row-height="4:3"
        md-gutter="12px" md-gutter-gt-sm="8px" md-row-height-gt-md="4:3">
    <md-grid-tile class="green" ng-click='suivant_click("humanoides")' value="Portes entières">
      <md-grid-tile-footer>
        <h3>Humanoïdes</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow" ng-click='suivant_click("batons")' value="Etagères">
      <md-grid-tile-footer>
        <h3>Batons</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    </md-grid-list>
    <md-button class="md-raised" ng-click="previous()">
			<i class="fa fa-chevron-left fa-lg"></i> Retour
		</a>
	</md-button>
<!--


<div class="btn_row row-centered">
		<input type="button" ng-click='suivant_click("humanoides")' value="Humanoïdes" 
			class="btn btn_config col-sm-4 col-sm-offset-1 col-xs-4 btn_home"/>

		<input type="button" ng-click='suivant_click("batons")' value="Batons" 
			class="btn btn_config col-sm-4 col-sm-offset-1 col-xs-4 btn_home"/>
	</div>
	<div class="row">
		<a ng-click="previous()" class="btn btn_config btn-icon">
			<i class="fa fa-chevron-left fa-lg"></i> Retour
		</a>
	</div>
-->
</div>